/Command.class
/CommandGenerator.class
/ExitCommand.class
/HelpCommand.class
/ListCommand.class
/MoveCommand.class
/ResetCommand.class
/ShockwaveCommand.class
/ShootCommand.class
/UpdateCommand.class
